<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>timeLimit</key>
			<integer>10</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-1-rocket.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-2-cosmos.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-3-planet.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-4-space.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>10</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-5-stars.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-6-earth.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-7-moon.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-8-orbit.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-9-comet.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-10-galaxy.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-11-nebula.txt</string>
			</dict>
		</dict>
		<dict>
			<key>timeLimit</key>
			<integer>200</integer>
			<key>layers</key>
			<dict>
				<key>background</key>
				<string>level-1-background.txt</string>
				<key>letters</key>
				<string>level-12-sun.txt</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
